.une{
  background-image:url("../img/payments-banner-graphic.png");
  border: 1px solid black;
  height: 400px;
}

.paragraphe1{
  font-size: 20px;
}
.monbouton{
  color: #AC58FA;
}
.h2{
  color: black;
  border: 1px solid black;
}
.text{
  color: white;
}
.text2{
  color: grey;
}
.text3{
  color: white;

}
.colonnegauche{
  background-color: #01DFD7;
  overflow-y: hidden;
  padding-left: 2%;
  border-bottom: 1px solid grey;
}
  /* background-color: pink; */
  /* padding: 10px 10px 1px 10px; */
.colonnegauche2{
  color: grey;
}
.h7{
  color: blue;
}
.text4{
  position: relative;
  margin-top: 25%;
  margin-left: 25%;
  color: grey;
}
.text5{
  margin-left: 10%;
  color: grey;
  margin-top: 25%;
}
.text7{
  position: relative;
  margin-top: 25%;
  margin-left: 25%;
  color: grey;
}
.monbouton2{
  color: white;
}
.foot1{
  background-color: black;
}
.textfoot{
  margin-left: 20%;
  font-size: 10px;
  color: white;
}
.colonnedroite2{
  background-color:#AC58FA;
  padding-left: 3%;
  overflow-y: hidden;
  border-bottom: 1px solid grey;
}
.colonnegauche3{
  background-color:#01DFD7;
  padding-left: 2%;
  overflow-y: hidden;
}
.quatre{
  background-color: grey;
  height: 100px;
}
.sept{
  border-bottom: 1px solid grey;
}
.huit{
  padding-top: 5%;
  padding-bottom: 5%;
  position: relative;
}
body{
  font-family: 'Raleway', sans-serif;
}
